<% provide(:title, "About") %>
<h1>コンテンツ情報</h1>
<p>
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  は<a href="https://rubyonrails.org/">Ruby on Rails</a>を用いた、
  Web開発教材としての<a href="https://railstutorial.jp/#ebook">書籍</a>と
  <a href="https://railstutorial.jp/screencast">動画</a>コンテンツである。
  これはチュートリアル用のサンプルをモデルとして作成したアプリケーションです。
</p>