<% provide(:title, "About") %>
<div class="hole">
 <div class="e">
 <div style="margin-bottom: 10px; border: 7px double #333333; width: calc(100% - 10px);">
  <div id="base_info" class="frame-l">
    <h2 class="b">基本情報</h2>
    <a class="button-l" href="base_info">詳細</a>
  </div>
  </div>
  <div style="margin-bottom: 10px; border: 7px double #333333; width: calc(100% - 10px);">
  <div id="hobby" class="frame-r">
    <h2 class="c">趣味</h2>
    <a class="button-r" href="hobby">詳細</a>
  </div>
 </div>
 </div>
</div>