<link href="style_hobby.css" rel="stylesheet" type="text/css">
<div class="hole1">
  <ul class="head-right">
    <li><a href="about" style="text-decoration:none;">紹介TOP</a></li>
    <li><a href="base_info" style="text-decoration:none;">基本情報</a></li>
    <li><a href="hobby" style="text-decoration:none;">趣味</a></li>
  </ul>
 <div class="page-title" id="page-title">
  <h1>趣味</h1>
 </div>
 
 
 <div class="e1">
  <div class="border-radius2-1 fade-in">
   <div class="trip">
    <li>旅行<br>
     ↓行った地域↓<br>
     北海道・宮城・山形・福島・栃木・群馬・山梨・新潟・静岡・長野<br>
     岐阜・愛知・滋賀・京都・大阪・兵庫・岡山・広島・福岡・大分・沖縄<br>
     韓国・中国・オーストラリア・スペイン・イギリス</li>
    <img src="/assets/soccer.jpg" alt="" class="soccer">
   </div>
  </div>
  <div class="border-radius2-2 fade-in">
   <div  class="gohan">
    <li>ご飯屋さん巡り<br>
     都内中心にオシャレなカフェやご飯屋さんを探してます<br>
     <div class="sibu-img">
      <img src="/assets/sibu2.jpg" alt="" class="sibu2">
     </div>
    </li>
   </div>
  </div>
 </div>
 

</div>