<div class="center jumbotron" style="background-color: #993333; border-radius: 16px;">
  <h1 style="color:#66CCFF; font-size:80px;"><strong>たわマッチング</strong></h1>

  <h2 style="color:#66CCFF; font-size:25px;">
    〜これまでにない出会いに挑戦〜
  </h2>
  
  <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>