<li>
  <% if @user && @user.avatar? %>
    <%= image_tag @user.avatar.url, size: 50 %> <!-- ユーザープロフィール画像 -->
  <% else %>
    <%= image_tag "8d27ad3552fd86901f4976429ad22ce2.png", size: 50 %> <!-- プロフィール画像未設定時のデフォルト画像 -->
  <% end %>
  <%= link_to user.name, user %>

  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "実行しますか?" } %>
  <% end %>
</li>