<footer class="footer">
  <small>
    Tawa's first App</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "情報",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>