<footer class="footer">
  <small>
    Tawa's first App</a>
  </small>
  <nav>
    <ul>
      <li><strong><%= link_to "私について",   about_path %></strong></li>
      <li><strong><%= link_to "お問い合わせ", contact_path %></strong></li>
    </ul>
  </nav>
</footer>